.page-footer-inner
    | 2016 &copy; Nosh
    a.pull-right(style="color:#3D4A53;" href="https://HazeDevelopment.com" target="_HAZE")
        | Made with 
        i.icon-heart(style="color:red;")
        | &nbsp;by HazeDevelopment

.scroll-to-top
    i.icon-arrow-up