.page-header.navbar.navbar-fixed-top
    .page-header-inner.container
        .page-logo
            a(href="#")
                img(src="/Nosh.png").logo-img
                .logo-text
                    | Nosh!
        
        .page-top
            .top-menu
                ul.nav.navbar-nav.pull-right
                    li.dropdown.dropdown-user.dropdown-dark
                        a.dropdown-toggle(href="#" dropdown-menu-hover data-toggle="dropdown" data-close-others="true")
                            img.img-circle(src="/images/avatar1.jpg")
                            span.username.username-hide-on-mobile
                                | Nick
                            i.fa.fa-angle-down

                        ul.dropdown-menu.dropdown-menu-default
                            li
                                a(href="#logout")
                                    i.icon-key
                                    | Logout