//defaults
script(src="/plugins/jquery.min.js")
script(src="/plugins/bootstrap/js/bootstrap.min.js")
script(src="/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")
script(src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
script(src="/plugins/jquery.blockui.min.js")
script(src="/plugins/jquery.cokie.min.js")
script(src="/plugins/uniform/jquery.uniform.min.js")

script(src="/js/dependencies/sails.io.js")
script(src="/js/dependencies/angular.min.js")
script(src="/js/nosh.js")
script(src="/js/controllers/DashboardController.js")
script(src="/js/controllers/OrderController.js")