.page-sidebar
    .page-sidebar-menu(data-keep-expanded="true" data-auto-scroll="true" data-slide-speed="200")
        li.start.active
            a(href="#dashboard")
                i.icon-home
                span.title
                    | Dashboard
                span.selected
        li.nav-item
            a(href="#orders")
                i.icon-bag
                span.title
                    | Orders
                span.selected
