link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css")

link(href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
link(href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
link(href="/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css")
link(href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css")
link(href="/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css")


link(href="/styles/components.css" rel="stylesheet" type="text/css")
link(href="/styles/plugins.css" rel="stylesheet" type="text/css")
link(href="/styles/layout.css" rel="stylesheet" type="text/css")
link(href="/styles/themes/default.css" rel="stylesheet" type="text/css")
link(href="/styles/custom.css" rel="stylesheet" type="text/css")