doctype html
html(ng-app="nosh")
	head
		title
			| Nosh!

		// Viewport mobile tag for sensible mobile support
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")


		include includes/styles
		block styles

	body.page-boxed.page-header-fixed.page-container-bg-solid.page-sidebar-fixed

		include includes/header
		
		.clearfix

		.container
			.page-container
				include includes/sidebar
				
				.page-content-wrapper
					.page-content

						block content

						include includes/footer

		include includes/scripts
		block scripts
