/* here you can put your own css to customize and override the theme */
.page-logo a
{
    color:#fff;
}

.page-logo a:hover
{
    text-decoration: none;
}

.logo-img
{
    height:60px;
    margin-top:4px;
    text-align:center;
    float:left;
}

.logo-text
{
    margin-top:15px;
    margin-left:5px;

    font-size:24px;
    float:left;

    color:#fff;
}